

{%extends 'layout.html'%}

{% block content %}

<table id="display_table" class="table_records">
    <tr>
        <th></th>
        <th>Info</th>
        <th></th>
    </tr>
</table>

{% block javascript %}
<script src="{{url_for('static', filename='chartjs.js')}}"></script>
<script src="{{url_for('static', filename='layout_charts_n_data.js')}}"></script>
<script>

    var stocks_data = JSON.parse({{jstocks_data | tojson | safe}});
    var rs_data = JSON.parse({{jrs_data | tojson | safe}});
    var action_by = JSON.parse({{jaction_by | tojson | safe}});
    document.getElementById("page_heading").innerHTML = action_by;
    // console.log(stocks_data)
    build_industry_dropdown()

    var layout = new Layout_charts_n_data();
    var _table = document.getElementById("display_table")
    for (var i=0; i<Object.keys(rs_data).length; i++){
        var _row = _table.insertRow(i+1)
        var _cell0 = _row.insertCell(0)
        var _cell1 = _row.insertCell(1)
        var _cell2 = _row.insertCell(2)
        _cell0.innerHTML = layout.lightweightchart(i)
        _cell1.innerHTML = layout.stock_info(i, rs_data)
        _cell2.innerHTML = layout.chartjs(i)
    }

    var rsChartjs_creator = new RSChartjs_creator(rs_data);
    rsChartjs_creator.process_data();
    rsChartjs_creator.apply_chart();

</script>
{% endblock%}
{% endblock%}